/*! Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

.pushy {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: var(--white);
    font-size: 0.9em;
    font-weight: bold;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
}

.pushy a {
    color: var(--black);
    display: block;
    text-decoration: none;
}

.pushy a:hover {
    background: rgba(255, 255, 255, .1);
    color: var(--green);
}

.pushy-menu {
    height: calc(100vh - 114px);
}

.pushy-menu ul {
    margin: 0;
    padding: 0;
}

.pushy-menu ul li {
    list-style-type: none;
    margin-bottom: 40px;
}

.pushy-menu ul li:last-child {
    margin-bottom: 0;
}

.pushy-menu ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 55px;
    transition: all .1s ease-in;
}

.pushy-menu .address {
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: #B7B7B7;
    margin-bottom: 0;
}

.pushy-menu .phone {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    transition: all .1s ease-in;
}

/* Menu Movement */

.pushy-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.pushy-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.container-push, .push-push {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

/* Menu Transitions */

.pushy, #container, .push {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-active .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Example Media Query */

@media screen and (max-width: 768px) {
    .pushy {
        font-size: 1rem;
    }
}

@media screen and (max-width: 479.98px) {

    .pushy-menu ul li {
        margin-bottom: 20px;
    }

    .pushy-menu ul li a {
        font-size: 28px;
    }

    .pushy-menu ul {
        padding-left: 28px;
    }

    .pushy-menu .phone {
        padding-left: 28px;
        position: absolute;
        bottom: 13%;
    }

    .pushy-menu .address {
        padding-left: 28px;
        font-size: 20px;
    }
}